body {padding:0px;margin:0px;}
table {font-family:verdana; font-size:10px; color:black;}
.s:link {color: white; font-size:13px; text-decoration: none;}
.s:visited {color: white;font-size:13px; text-decoration: none;}
.s:active {color: white; font-size:13px; text-decoration: none;}
.s:hover {color: white; font-size:13px; text-decoration:underline;}
